/* esta é a parte da foto */


.foto {
    border: 10px solid blue;
    border-radius: 100%;
    width: 250px;
}

body {
    /* background-color:red; */
    background-image: linear-gradient(to left, rgba(65, 12, 12, 0.127), rgba(0, 0, 255, 0.222));
    text-align: center;
}

ul {
    list-style: none;
}

.menu {
    background-color: black;
    border-radius: 15px;
}
 
.menu ul li {
    display: inline;
}

.menu ul li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: blue;
    font-size: 20px;
    border-radius: 20px;
    transition-duration: 2s;
}

.tabela {
    text-align: left;
    background-color: rgb(59, 59, 141);
    color: rgb(255, 255, 255);
    font-family: fantasy;
}

.tabela tr td:hover{
    font-size: 20px;
    color: yellow;
}

.menu {
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: blue;
    font-size: 20px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.menu .menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu ul {
        display: none;
    }

    .menu ul.show-menu {
        display: block;
    }

    .menu ul.show-menu li {
        display: block;
        text-align: center;
    }

    .menu .menu-toggle {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px;
        cursor: pointer;
        text-align: left;
    }
}





